* {
    /* border: 0; */
    /* margin: 0; */
}

header {
    /* margin-left: 0rem; */
    margin-top: 1rem;
    /* border-left: 0rem; */
    padding-top: 1rem;
    /* padding-left: 4rem; This is pushing the <hr> tag left with the name */
    /* background-color:#06bee1; */
}
body {
    /* background-color: #cee5f2; */
}

footer {
    /* background-color: #90ddf0; */
}

hr {
    /* margin-left: 0rem;
    border-left: 0rem;
    padding-left: 0rem; */
    /* color: rgb(0, 0, 0); */
}

header hr {
    /* border-left: none; */
    padding-left: none;
    margin: none;
}

.links-list {
    list-style-type: none;
}

.projects-list {
    list-style-type: circle;
}

.main-content {
    padding-left: 10rem;
}

.footer-content {
    padding-left: 12rem;
}

.top-title {
    padding-left: 4rem;
}

.main-content {
    padding-left: 8rem;
    /* background-color: cornflowerblue; */
}
.nav-bar {
    padding-left: 2rem;
}